@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-image: url(../images/photo-output\ copy.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
header .nav{
    display: flex;
}
header .nav ul{
display: flex;
}
header .nav ul li{
    list-style: none;
    font-size: 18px;
    padding: 23px 15px;
    font-family:'Maven Pro', sans-serif;

}
header .nav p{
    margin: 20px 700px 20px 20px;
    font-size: 30px;
}   
header .nav ul li a {
    padding: 5px 10px;
    font-size: 18px;
    background: transparent;
    text-decoration: none;
    border: 2px solid white;
    color: white;
}
header .gradient{
    text-align: center;
    padding-top: 160px;
    font-family: 'Maven Pro', sans-serif;
}
header .gradient hr{
    width: 80px;
    padding: 2px;
    background-color: white;
    margin: 20px 710px;
    border-radius: 20px;
}

main .r{
    width: 80px;
    padding: 1px;
    background-color: black;
    margin: 10px 720px;
    border-radius: 20px;
}
main .latest-articles{
    display: flex;
    margin-left: 17%;
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center;
    align-items: center;
}
main .latest-articles .one{
    width: 25%;
    height: 600px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
main .latest-articles .two{
    width: 25%;
    height: 600px;
    margin-left: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
main .latest-articles .three{
    width: 25%;
    height: 600px;
    margin-left: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}
main .latest-articles .one img,main .latest-articles .two img,main .latest-articles .three img{
    width: 100%;
}
main .latest-articles .one p,main .latest-articles .two p,main .latest-articles .three p{
    padding: 20px 20px;
}
main .latest-articles .one hr,main .latest-articles .two hr,main .latest-articles .three hr{
    width: 80px;
    padding: 1px;
    background-color: black;
    margin: 10px 10px 20px 100px;
    border-radius: 20px;
}

footer{
    display: flex;
    height: 500px;
    background-image: url(../images/IMG_0814.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 100px 10px 20px 10px;
    text-align: center;
}
footer .image{
    width: 50%;
}
footer .image img{
    width: auto;
    height: 500px;
}
footer .content hr{
    width: 80px;
    padding: 2px;
    background-color: black;
    margin: 10px 100px 20px 465px;
    border-radius: 20px;
}
img {
      width: 1000px;
      margin-top: 50px;
      margin-left: 15%;
}
